@import url('https://fonts.googleapis.com/css?family=Alatsi|Baskervville&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Baskervville', serif; 
}

.title {
    font-size: 2rem;
    font-family: 'Alatsi', sans-serif;
}

button {
    margin-top: 1em;
}